.navContent{
    font-size: 18px;
    width: 1200px;
    /*
    change this width to make navbar
    content closer or farther apart
    */
    margin-left: auto;
    margin-right: auto;
}

nav .navbar-brand{
    float: left;
}